In [1]:
#probability of getting 3 when a die is rolled
ns = 6 #n(S) = {1,2,3,4,5,6}
na = 1 #n(A) = {3}
pa = na/ns #p(A)
print("probability of getting 3 is: ",pa)

probability of getting 3 is:  0.16666666666666666

In [2]:
# probability of getting atleat one head when one coin is tossed is thrice 
ns = 8 #n(S) = {HHH,TTT,HTT,HTH,HHT,THH,TTH,THT}
na = 7 #n(A) = {HHH,HTT,HTH,HHT,THH,TTH,THT}
pa = na/ns #p(A)
print("probability of getting atleast one head is: ",pa)

probability of getting atleast one head is:  0.875

In [3]:
# A glass jar contains 5 red, 3 blue and 2 green jelly beans
# if a jelly bean is chosen at random from the jar,
# what is the probability that is not blue

ns = 10 #n(S) ={Red,Green,Blue}
na =7 #n(A) = {Red,Blue}
pa = na/ns #p(A)
print("probability of getting not jelly bean is: ",pa)

probability of getting not jelly bean is:  0.7

## Independent and dependent Events

In [4]:
p=0.7*0.5
print("pribability that they will be alive afterr 20 years:",p)

pribability that they will be alive afterr 20 years: 0.35

In [5]:
def event_probability(n,s):
    return n/s

In [6]:
# a fair die is tossed twice . find the probability of getting a 4 or 5 on the first toss a
# 1,2, or 3 in the second toss.
pa=event_probability(2,6) # probability of getting a 4 or 5 
pb=event_probability(3,6) # probability of getting 1,2, or 3 
p=pa*pb
print("probability of getting a 4 or 5 on the first toss and a 1,2, or 3 in the second toss is:",p)

probability of getting a 4 or 5 on the first toss and a 1,2, or 3 in the second toss is: 0.16666666666666666

In [7]:
# A bag contains 5 white marbles , 3 black marbles and 2 green marbles. in each draw , a marble is drwan from 
# the bag and not replaced . In three draw , find the probability of obtaining white, black and green in that order,
pw=event_probability(5,10)
pb=event_probability(3,9)
pg=event_probability(2,8)
print("the probability of obtaining white, black and green in that order is :",pg*pw*pb)

the probability of obtaining white, black and green in that order is : 0.041666666666666664

In [8]:
# Sample space 
cards=52
# calculate the probability of drawing a heart or a club
hearts=13
clubs=13
heart_or_club=event_probability(hearts,cards)+event_probability(clubs,cards)
print(heart_or_club)

0.5

In [9]:
# calculate the probability of drawing an ace, 
#king , or a queen 
aces=4
kings=4
queens=4
ace_king_or_queen=event_probability(aces,cards)+event_probability(kings,cards)+event_probability(queens,cards)
print(ace_king_or_queen)

0.23076923076923078

In [28]:
# calculate the prob. of drawing a heart or an ace
aces = 4
hearts = 13
aces_of_hearts = 1
heart_or_ace = event_probability(hearts,cards) + event_probability(aces,cards) - event_probability(aces_of_hearts,cards)
print(round(heart_or_ace,1))

0.3

In [29]:
# calculate the prob. of drawing a red card or an face card
red_cards = 26
face_cards = 12
red_face_cards = 6
red_or_face_card = event_probability(red_cards,cards) + event_probability(face_cards,cards) - event_probability(red_face_cards,cards)
print(round(red_or_face_card,1))

0.6

# Complementry Event

In [12]:
# probability of not getting 5 when a fair die is rolled

ns = 6 #n(s) = {1,2,3,4,5,6}
na = 1 #n(a) = {5}
pa = na/ns #p(a)
print("Prob. of not getting 5 is: ",1-pa)

Prob. of not getting 5 is:  0.8333333333333334

# Conditional prob.

In [27]:
import pandas as pd
import numpy as np
df = pd.read_csv("D:/anita madam rj/New folder/data/student-mat.csv")
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [ ]:
df['grade_A'] = np.where(df['G3']*5 >= 80,1,0)

In [ ]:
df['high_absenses'] = np.where(df['absences'] >=10 ,1,0)

In [ ]:
df.head()

In [ ]:
df['count'] = 1

In [ ]:
df = df[['grade_A','high_absenses','count']]
df.head()

In [ ]:
final = pd.pivot_table(
    df,
    values='count',
    index=['grade_A'],
    columns=['high_absenses'],
    aggfunc=np.size,
    fill_value=0

)
print(final)

In [ ]:
pa = (35+5)/(277+78+35+5) # student h=who have grade A
print(pa)
pb = (78+5)/(277+78+35+5) # student who have absent more than 10 lecture
print(pb)
p_a_or_b = 5/(277+78+35+5) # student who have absent more than 10 lec. and having grade A
print(p_a_or_b)
P_ab = p_a_or_b/pb 
print(P_ab)

# Combinatorics: Permutations, Variations & Combinations

Consider the following example. we have a box with some balls inside(each with a different color) and we want to compute the number of ways we can arrange those balls. We can do so with two different approaches: with repetition (each ball is reinserted into the box after it is picked) or without repetition.

With Repetition: the idea is that, after each ball extracted, we can pick it agian as many times as we want. Let's have an easy start and consider the box={g,b}, where g='green ball' and b='blue ball':well, in that case, the possible ways we can arrange those balls are 'gg','bg','gb','bb'. We can also compute it with python:

If we want to generalize, when we have n objects and we want to see in how many ways we can arrange them, we have:

nnn.............n=n^n

In [15]:
import itertools
from itertools import product
box_1=['g','b']
perm=[]
for p in itertools.product(box_1, repeat=2):
    perm.append(p)

perm

[('g', 'g'), ('g', 'b'), ('b', 'g'), ('b', 'b')]

Lets do the same with 3 balls instead:

In [16]:
import itertools
from itertools import product
box_1=['g','b','y']
perm=[]
for p in itertools.product(box_1, repeat=3):
    perm.append(p)

perm

[('g', 'g', 'g'),
 ('g', 'g', 'b'),
 ('g', 'g', 'y'),
 ('g', 'b', 'g'),
 ('g', 'b', 'b'),
 ('g', 'b', 'y'),
 ('g', 'y', 'g'),
 ('g', 'y', 'b'),
 ('g', 'y', 'y'),
 ('b', 'g', 'g'),
 ('b', 'g', 'b'),
 ('b', 'g', 'y'),
 ('b', 'b', 'g'),
 ('b', 'b', 'b'),
 ('b', 'b', 'y'),
 ('b', 'y', 'g'),
 ('b', 'y', 'b'),
 ('b', 'y', 'y'),
 ('y', 'g', 'g'),
 ('y', 'g', 'b'),
 ('y', 'g', 'y'),
 ('y', 'b', 'g'),
 ('y', 'b', 'b'),
 ('y', 'b', 'y'),
 ('y', 'y', 'g'),
 ('y', 'y', 'b'),
 ('y', 'y', 'y')]

Without repetition: in this case, once you picked one ball, it cannot be used anymore. So each arrangement of balls will have unique values. In that case, coming back to our box={g,b}, the two possible permutations are 'gb' and 'bg':

In that case, we have to consider, after each extraction, that the number of available elements is one less. So, if we have n elements in our set, the permutation will be:

 1*2*3*............*n=n!

In [17]:
import itertools

box_1=['g','b']
perm=itertools.permutations(box_1)

for i in list(perm):
    print(i)

('g', 'b')
('b', 'g')

In [18]:
import itertools

box_1=['g','b','y']
perm=itertools.permutations(box_1)

for i in list(perm):
    print(i)

('g', 'b', 'y')
('g', 'y', 'b')
('b', 'g', 'y')
('b', 'y', 'g')
('y', 'g', 'b')
('y', 'b', 'g')

Variations are nothing but permutations where the number of objects we have to pick is less than the total number of objects n. Let's simply retrieve the example above and lets say that, out of three balls, we want to arrange only the first and second positions. Lets use the box= {g,b,y} and lets start with the case of repetition:

With repetition: we want to choose two balls (k=2) out of three (n=3) and compute the number of possible permutations: which can be calculated as:

V(n,k)=nn....................(k times)= n^k

In [20]:
box_2=['g','b','y']
perm=[]
for p in itertools.product(box_2, repeat=2):
    perm.append(p)

perm

[('g', 'g'),
 ('g', 'b'),
 ('g', 'y'),
 ('b', 'g'),
 ('b', 'b'),
 ('b', 'y'),
 ('y', 'g'),
 ('y', 'b'),
 ('y', 'y')]

Without repetition: the same reasoning holds if there are no repetitions. Indeed: In that case, we have:

V(n,k)=n!/(n-k)!

In [21]:
box_2=['g','b','y']
perm=itertools.permutations(box_2,2)

for i in list(perm):
    print(i)

('g', 'b')
('g', 'y')
('b', 'g')
('b', 'y')
('y', 'g')
('y', 'b')

Comninations

Combinations are variations(or permutations, if k=n) where the order does not matter. Basically, we use combinations whenever we want to compute in how many ways, from n objects, we can extract k of them, regardless of the order with which those are picked.

Namely, if you recall the permutation without repetition we examined at the very beginning, whose outputs were 'gb' and 'bg', the equivalent combination would be only 'gb' (or only 'bg'), since the order does not matter, hence they represent the same object.

Lets see it with python, always examining separately the two cases of repetition and no repetition:

With repetition:

The number of possible combinations (with repetition) is given by:

   C(n,k) = (n+k-1)!/k!(n-1)!

In [22]:
from itertools import combinations_with_replacement

box_1=['g','b']
comb=combinations_with_replacement(box_1,2)


for i in list(comb):
    print(i)

('g', 'g')
('g', 'b')
('b', 'b')

In [23]:
from itertools import combinations_with_replacement

box_1=['g','b','y','w']
comb=combinations_with_replacement(box_1,2)


for i in list(comb):
    print(i)

('g', 'g')
('g', 'b')
('g', 'y')
('g', 'w')
('b', 'b')
('b', 'y')
('b', 'w')
('y', 'y')
('y', 'w')
('w', 'w')

Without repetition:

The number of possible combinations (without repetition) is given by:

 C(n,k) = n!/k!(n-k)!

In [24]:
from itertools import combinations
box_1=['b','g']
comb= combinations(box_1,2)

for i in list(comb):
    print(i)

('b', 'g')

In [25]:
from itertools import combinations
box_1=['b','g','y']
comb= combinations(box_1,2)

for i in list(comb):
    print(i)

('b', 'g')
('b', 'y')
('g', 'y')